@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    gap: 0;
}

header{
    background-color: #ED1B24 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    && ul{
        list-style: none;
        display: flex;
    }
    && .link{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #FFF;
        font-size: 20px;
        text-decoration: none;
        margin-left: 25px;
        text-transform: uppercase;
        position: relative;
    }
    && .link::after{
        content: '';
        position: absolute;
        height: 3.2px;
        top: 22px;
        left: 0;
        bottom: 0;
        width: 0;
        background-color: #FFF;
        transition: width .3s;
        border-radius: 17%;
    }
    && .link:hover::after{
        width: 100%;
    }
}

#logo-header{
    width: 115px;
    position: absolute;
    top: 15px;
}

.border-gradient{
    width: 100vw;
    height: 10px;
    background-image: linear-gradient(45deg, #FFF,#c5c1c1);
    box-shadow: 1px 2px 5px  #411111;
}


@media screen and (max-width: 790px){
    header{
        
    
        && .link{
            font-size: 12px;
        }
    }
    #logo-header{
        width: 95px;
        left: 40px;
    }
}